{{>partials/head}}


<body>
{{>partials/header}}
<nav>
    <ul>
        <li class=""><a href="/">Todos</a></li>
        <li class="active"><a href="cachorros">Cachorros</a></li>
        <li class=""><a href="gatos">Gatos</a></li>
        <li class=""><a href="peixes">Peixes</a></li>
    </ul>
</nav>
<section class="banner" style="background-image: url('assets/images/allanimals.jpg')">Todos os cachorros</section>
<h2>Todos os cachorros disponíveis para adoção</h2>

<div class="container list">
    <div class="item">
        <img src="assets/images/pastor-alemao.jpg" class="item--image" />
        <div class="item--name">Pastor-alemão</div>
        <div class="item--color">Cor: Amarelo e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/labrador.jpg" class="item--image" />
        <div class="item--name">Labrador-retriever</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/zwergspitz.jpg" class="item--image" />
        <div class="item--name">Zwergspitz</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="assets/images/husky.jpg" class="item--image" />
        <div class="item--name">Husky Siberiano</div>
        <div class="item--color">Cor: Branco e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/golden.jpg" class="item--image" />
        <div class="item--name">Golden Retriever</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/poodle.jpg" class="item--image" />
        <div class="item--name">Poodle</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="assets/images/bulldog.jpg" class="item--image" />
        <div class="item--name">Bulldog</div>
        <div class="item--color">Cor: Branco e Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>

</div>
    {{>partials/footer}}
</body>

