{{>partials/head}}
<body>
{{>partials/header}}

<nav>
    <ul>
        <li class=""><a href="/">Todos</a></li>
        <li class=""><a href="cachorros">Cachorros</a></li>
        <li class="active"><a href="gatos">Gatos</a></li>
        <li class=""><a href="peixes">Peixes</a></li>
    </ul>
</nav>
<section class="banner" style="background-image: url('assets/images/allanimals.jpg')">Todos os gatos</section>
<h2>Todos os gatos disponíveis para adoção</h2>
<div class="container list">

    <div class="item">
        <img src="assets/images/persa.jpg" class="item--image" />
        <div class="item--name">Persa</div>
        <div class="item--color">Cor: Amarelo</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/mainecoon.jpg" class="item--image" />
        <div class="item--name">Maine Coon</div>
        <div class="item--color">Cor: Preto e Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/bengal.jpg" class="item--image" />
        <div class="item--name">Bengal</div>
        <div class="item--color">Cor: Branco, Preto e Amarelo</div>
        <div class="item--genre">Gênero: Feminino</div>
    </div>
    <div class="item">
        <img src="assets/images/siames.jpg" class="item--image" />
        <div class="item--name">Siamês</div>
        <div class="item--color">Cor: Amarelo e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/sphynx.jpg" class="item--image" />
        <div class="item--name">Sphynx</div>
        <div class="item--color">Cor: Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    </div>

</body>

{{>partials/footer}}