{{>partials/head}}

<body>
{{>partials/header}}
<nav>
    <ul>
        <li class=""><a href="/">Todos</a></li>
        <li class=""><a href="cachorros">Cachorros</a></li>
        <li class=""><a href="gatos">Gatos</a></li>
        <li class="active"><a href="peixes">Peixes</a></li>
    </ul>
</nav>

<section class="banner" style="background-image: url('assets/images/allanimals.jpg')">Todos os peixes</section>
<h2>Todos os peixes disponíveis para adoção</h2>

<div class="container list">
    <div class="item">
        <img src="assets/images/neon.jpg" class="item--image" />
        <div class="item--name">Tetra Neon</div>
        <div class="item--color">Cor: Vermelho e Azul</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/matogrosso.jpg" class="item--image" />
        <div class="item--name">Mato Grosso</div>
        <div class="item--color">Cor: Laranja</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/limpavidro.jpg" class="item--image" />
        <div class="item--name">Limpa Vidro</div>
        <div class="item--color">Cor: Verde e Branco</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/tanictis.jpg" class="item--image" />
        <div class="item--name">Tanictis</div>
        <div class="item--color">Cor: Vermelho</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    <div class="item">
        <img src="assets/images/acara.jpg" class="item--image" />
        <div class="item--name">Acará Bandeira</div>
        <div class="item--color">Cor: Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
    </div>
    </body>
{{>partials/footer}}