<header>
    <div class="container">
        <a href="">PetDevShop</a>
        <form method="GET" action="">
            <input type="search" name="q" placeholder="Pesquise por raça" />
        </form>
    </div>
</header>


